{% extends "base.html" %}

{% block first_block %}

    <p>
        <li> {{ my_number }} </li>
        <li> {{ my_list }} </li>

{% endblock %}

{% block second_block %}

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>

    <ul>
    {% for abc in my_list %}
        {% if abc == 3452 %}
            <li>{{ forloop.counter }} - {{ abc | add:22 }}</li>
        {% elif abc == "holiii" %}
            <li>{{ forloop.counter }} - {{ "This is not the network" }}</li>
        {% else %}
            <li>{{ forloop.counter }} - {{ abc }}</li>
        {% endif %}

    {% endfor %}
    </ul>
{% endblock %}

