<!doctipe html>
<html>
<head>
    <title>Noctiluca</title>
</head>

<body>

    <h1>Noctiluca</h1>

    <h5> ---------------------------------------------------------------------------------------- </h5>

    <h2>{{ title }}</h2>

    <h5> ---------------------------------------------------------------------------------------- </h5>

<!--    <h5><i>This is the first block content</i></h5>-->

    {% block first_block %}
        first_block is empty
    {% endblock %}

    <h5> ---------------------------------------------------------------------------------------- </h5>

<!--    <h5><i>This is the second block content</i></h5>-->

    {% block second_block %}
        second_block is empty
    {% endblock %}

    <h5> ---------------------------------------------------------------------------------------- </h5>

<!--    <h5><i>This is a navbar</i></h5>-->

    {% include 'navbar.html' %}

    <h5> ---------------------------------------------------------------------------------------- </h5>


    <h3>End</h3>

</body>
</html>